body{
    background-color: antiquewhite;
}

.btn{
    height: 70px;
    width: 210px;
    margin: 80px auto;
    background-color: red;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    box-shadow: 4px 4px  4px darkred;
    cursor: pointer;
}